@import "include/general";
@import "include/colors";
@import "include/dimens";

@import "include/properties";
@import "include/card";
@import "include/sheet";
@import "include/toolbar";
@import "include/fonts";



@appBackground: #283593;
@appText: #ffffff;

@appbarHeight: 56px;
@appbarBackground: rgba(83,109,254,0.2);



body {
	background: @appBackground;
	color: @appText;
	height: 100vh;
	flex-flow: column nowrap;
}

main {
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;
}

#playmat {
	display: flex;
	flex-flow: column nowrap;
	
	flex-grow: 1;
	flex-flow: row nowrap;
	padding: 16px;
	color: black;
}

#card-area {
	display: flex;
	flex-flow: column nowrap;
	
	padding: 16px;
}

#sheet-area {
	display: flex;
	flex-flow: column nowrap;
	
	flex-grow: 1;
	padding: 16px;
}

#appbar {
	z-index: 200;
	height: @appbarHeight;
	
	box-shadow: 0 2px 4px @color-shadow;
	
	padding: 0 @dimen-keyline-padding;
	line-height: @appbarHeight;
	background: @appbarBackground;
	
	font-family: serif;
	font-weight: bold;
	font-size: 22px;
}